body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}
h1 {
    color: #60086E;
    text-align: center;
}
li {
    padding: 1vh;
    border-bottom: 1px solid #000;
}
ul {background-color: #DBDBDB;
    width: 50vw;
    margin: auto;
    list-style-type: square;
    border-radius: 10px;

}